<div class="douban-card-block">
    <a class="douban-card" href="{{url}}">
        <div class="douban-card-bgimg" style="background-image: url('{{img}}');">
        </div>
        <div class="douban-card-left">
            <div class="douban-card-img" style="background-image: url('{{img}}');">
            </div>
            <div class="douban-card-status">{{status}}</div>
        </div>
        <div class="douban-card-right" style="line-height: 1.7;">
            <div class="douban-card-item"><span>书名: </span><strong>{{title}}</strong></div>
            <div class="douban-card-item"><span>作者: </span><span>{{author}}</span></div>
            <div class="douban-card-item"><span>出版年份: </span><span>{{publishDate}}</span></div>
            <div class="douban-card-item"><span>评分: </span><span>{{rate}}</span></div>
        </div>
    </a>
</div>
<style>
    {{style}}
</style>